<div class="flex flex-column items-center justify-center drag" style="height:100vh">
  <div class="flex-auto"></div>
  <div class="flex flex-column items-stretch tc">
    <p class="mb2 o-40">
      Enter a personal access token below
    </p>
    {{input action='signIn' value=authToken class="mb2 flex-auto"}}
  </div>
  <div class="flex-auto"></div>
  <div class="pa2 ma2">
    <a href="#" class="blue no-underline" {{action 'openUrl' 'https://github.com/settings/tokens/new'}}>Create a token on Github</a>
  </div>
</div>
