<div class="title-bar  b--light-silver">
  Shrink
  <div class="flex menu">
    {{#link-to 'mentions' class="flex-auto"}}
      Mentioned
    {{/link-to}}

    {{#link-to 'assigned' class="flex-auto"}}
      Assigned
    {{/link-to}}

    {{#link-to 'subscribed' class="flex-auto"}}
      Subscribed
    {{/link-to}}
  </div>
</div>
<div class="title-bar-spacer"></div>
