html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  cursor: default;
  overflow: hidden;
}

.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.title-bar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  height: 60px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  text-align: center;
  line-height: 20px;
  display: block;
  z-index: 10;
  color: #666;
}

.title-bar .menu a {
  font-size: 15px;
  -webkit-app-region: no-drag;
  text-decoration: none;
  color: #383838;
  height: 38px;
  margin-top: 4px;
  line-height: 32px;
  border-bottom: 2px solid #E2E2E2;
  cursor: default;
}

.menu a.active {
  color: #2783EF;
  border-color: #2783EF;
}

.title-bar-spacer {
  height: 64px;
}

.msg__repo {
  font-size: 11px;
}

.msg__body {
  border-radius: 4px;
  background-color: #F6F8F8;
  margin-top: 10px;
  padding: 10px 15px;
  max-height: 83px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #484848;
  transition: all 0.4s ease-in-out;
}

.msg__body:after {
  content:'';
  width:100%;
  height:40px;
  position:absolute;
  left:0;
  bottom:0;
  background:linear-gradient(transparent, #F2F2F2);
}

.msg__body p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  line-height: 16px;
  margin-bottom: 6px;
}

.msg__body img {
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px 0;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.msg__body blockquote {
  border-left: 3px solid #E6E6E6;
  margin: 0;
  padding-left: 20px;
}

.msg__users__user {
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  height: 22px;
  min-width: 22px;
}

.msg__owner img {
  border-radius: 4px;
  overflow: hidden;
  min-width: 48px;
}

.msg__repo {
  color: #A0A0A0;
}

.msg__body ul {
  margin: 0;
}

.msg__body ul li {
  margin-bottom: 6px;
  line-height: 16px;
}

.msg__body h1,h2,h3,h4 {
  font-size: 14px;
}

.msg__body.msg__body--expanded {
  max-height: 900px;
  opacity: 1;
}

.msg__body--expanded:after {
  display: none;
}

.msg__body img {
  max-width: 100%;
}

.msg__body code {
  font-size: 12px;
}

.msg__body table {
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
  padding: 0;
  border-collapse: collapse;
}

.msg__body table th {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 0px;
  text-align: left;
}

.msg__body table td, .msg__body table th {
  padding: 4px;
  margin: 0px;
}

.b--light-silver {
  border-color: #E2E2E2;
}

.label {
  font-size: 11px;
  margin-right: 8px;
}

.label__dot {
  height: 9px;
  width: 9px;
  margin-right: 1px;
  border-radius: 50%;
  position: relative;
  top: 1px;
  display: inline-block;
}

.label span {
  color: #767682;
}

.msg__title {
  color: #383838!important;
}

.list {
  height: calc(100vh - 64px);
  overflow: scroll;
}
